* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #77C9D4;
    --second-color: #57BC90;
    --third-color: #015249;
    --fourth-color: #A5A5AF;
}

body {
    color: var(--third-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLES START */
header {
    padding: 10px 35px 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/green-banner.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.corrie-butler {
    text-align: center;
}

header h1 {
    font-weight: bold;
    font-size: 52px;
    background-color: var(--second-color);
    color: var(--third-color);
    padding: 0 10px 0 20px;
    text-align: center;
    border-radius: 15px;
    
}

header a {
    text-decoration: none;
    color: var(--third-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 10px;
}

header nav ul li a {
    margin: 10px 6px 0px 5px;
    padding: 10px;
    font-size: 24px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: block;
}
/* HEADER STYLES END */

/* FOOTER STYLES START */

/* FOOTER STYLES END */

/* HERO STYLES START */
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url(../images/green-banner.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    margin-top: -1px;
}

.hero-image {
    text-align: center;
}

.hero-image img{
    padding: 20px;
    width: 75%;
    height: auto;
    border-radius: 50px;
}






/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}