* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #D9B310;
    --secondary-color: #0B3C5D;
    --tertiary-color: #328CC1;
    --quaternary-color: #1D2731;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLES START */
header {
    padding: 10px 35px 15px 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: var(--primary-color)
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 20px;
}

header nav ul li a {
    padding: 30px 6px 0px 5px;
    font-size: 5vw;
}
/* HEADER STYLES END */

/* FOOTER STYLES START */

/* FOOTER STYLES END */

/* HERO STYLES START */
.hero {
    background-image: url("../images/blue-wood.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-image {
    text-align: right;
}

.hero-image img{
    padding: 20px;
    width: 50%;
    height: auto;
}






/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}